* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.menu1 {
    background-color: rgb(242, 242, 242);
    height: 90px;
}

.carousel {
background-image: url(./assets/img/background9.jpg);
}

.about-mbr-fonts-style {
    font-size: 40px;
    padding-bottom: 80px;
}

.card {
    height: 300px !important;
    padding: 40px;
   background-color: rgb(242, 242, 242) !important;
}

.all-cards {
    gap: 0px;
}

.card-text {
    font-size: 15px;
}

.proud-cosmetic-section {
    margin: 0 auto;
}
